@font-face {
  font-family: 'Right Here';
  src: url('RightHere.otf')format('opentype'), url('RightHere.tff')format('truetype')
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  color: #8d8d8d;
}
h1 {
  font-family: "Bodoni Moda", serif;
 
  color: #2c2c2c;
}
hr {
  border: 0;
  border-top: 2px solid #8d8d8d;
}
a {
  color: #8d8d8d;
  text-decoration: none;
}
a:hover {
  color: #8d8d8d;
  text-decoration: none;
}
.container {
  margin: auto;
  position: relative;
}

span {
  font-style: italic;
}


/* HEADER */
.nav-hr {
  border: 0;
  border-top: 20px solid;
  width: 1px;
  margin: 10px;
}
.navbar {
  background-color: white !important;
  z-index: 1;
}
.navbar-nav {
  flex-direction: row;
}
.navbar-light .navbar-brand {
  color: black;
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  margin: auto 20px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #8d8d8d;
}

/* Landing Page */
.landing {
  height: 600px;
}

.bg-landing {
  background-color: #f7f1eb;
  position: absolute;
  height: 300px;
  width: 100%;
  /* top: 0; */
}
.landing-img {
  height: 450px;
  position: absolute;
  margin-top: 80px;
  margin-left: 30px;
  left: 0;
  z-index: 1;
}

.landing-text {
  height: 400px;
  width: 600px;
  position: absolute;
  text-align: center;
  right: 0;
  margin-top: 135px;
}

.landing-title {
  font-size: 46px;
  margin: 100px 60px 60px;
}
.journaling{
  font-family: "Right Here", serif;
  font-size: 65px;
}
/* ABOUT ME */

.about-me {
  margin: 46px auto;
  height: 300px;
  width: 1000px;
  background-color: #f7f1eb;
  text-align: center;
  padding: 10px;
}
.about-text {
  margin: 40px;
  font-size: 20px;
}

.about-hr {
  width: 100px;
}

.about-border {
  border: 4px solid #f7f1eb;
  width: 1100px;
  margin: auto;

  margin-bottom: 50px;
}

/* INSTAGRAM */
.align-row {
  text-align: center;
  width: 1000px;
  margin: auto;
}
.content-container {
  width: 1200px;
}
.insta-hr {
  width: 100%;
  display: inline-block;
  border-top: 30px solid #f7f1eb;
  margin-right: 30px;
}
.insta-text {
  display: inline-block;
  color: black;
  font-family: "Bodoni Moda", serif;
  font-size: 30px;
  margin: 0;
  width: 165px;
}
.insta-title {
  display: flex;
  align-items: center;
  margin: auto 70px;
}
.post-container {
  margin: 25px auto;
  height: 340px;
  width: 300px;
  overflow: hidden;
}
.post {
  width: 350px;
}

.h2-insta {
  margin: auto;
  font-size: 20px;
  font-family: "Bodoni Moda", serif;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #2c2c2c;
}
.p-insta {
  margin: auto;
  width: 250px;
}

.followers-bg {
  background-color: #f7f1eb;
  position: absolute;
  height: 330px;
  width: 100%;
  margin-top: 300px;
}

/* FREEBIES */
.free {
  margin: 170px auto;
  text-align: center;
}
.free-bg {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: #d3bfa6;
  margin: 125px 0;
}
.email {
  display: inline-block;
  height: 50px;
  width: 500px;
  border: 1px solid #8d8d8d;
  padding-left: 10px;
  /* text-align: center; */
  font-size: 15px;
}

.free-btn {
  display: inline-block;
  height: 50px;
  width: 70px;
  color: #8d8d8d;
  background-color: #f7f1eb;
  border: 1px solid #8d8d8d;
  font-family: "Lora", serif;
  cursor: pointer;
}

.email::placeholder {
  color: #bebebe;
  font-weight: 100;
}
.free-title {
  margin-bottom: 0;
  font-weight: 100;
  letter-spacing: 3px;
}
.free-p {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* FOOTER NAVIGATION */
.nav-bg {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: #f7f1eb;
  margin: -20px 0;
}
.navigation {
  display: inline-block;
  width: 146x;
  margin-right: 150px;
  text-align: center;
}
.socials {
  display: inline-block;
  width: 80px;
  text-align: center;
}
.nav-footer {
  margin-top: 190px;
  margin-bottom: 50px;
  text-align: center;
}
.nav-align {
  margin-right: 20px;
}
.nav-tag {
  margin-right: 10px;
}
.nav-text {
  display: inline-block;
  text-align: left;
  line-height: 2;
}

/* FOOTER */
.footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

/* 














 */

@media only screen and (max-width: 1200px) {
  /* LANDING */
  .landing-img {
    height: 330px;
    margin-top: 80px;
    margin-left: 30px;
  }
  .landing-text {
    margin-top: 90px;
  }
  .bg-landing {
    height: 250px;
  }
  .landing {
    height: 525px;
  }

  /* ABOUT ME */
  .about-me {
    margin: 46px auto;
    height: 320px;
    width: 800px;
  }

  .about-border {
    border: 4px solid #f7f1eb;
    width: 900px;
    margin: auto;
    margin-bottom: 100px;
  }

  /* INSTA */
  .insta-text {
    width: 200px;
  }
  .insta-title {
    margin-left: 80px;
    margin-right: 50px;
  }
  .align-row {
    width: 800px;
  }
  .post-container {
    width: 250px;
    height: 280px;
  }
  .post {
    width: 300px;
  }
  .followers-bg {
    height: 260px;
  }
}

@media only screen and (max-width: 992px) {
  /* LANDING */
  .landing-img {
    height: 280px;
    margin-top: 55px;
    margin-left: 30px;
  }
  .landing-title {
    font-size: 38px;
    margin: 100px 0 60px 60px;
  }
  .landing-text {
    width: 400px;
    margin-top: 50px;
  }
  .bg-landing {
    height: 200px;
  }
  .landing {
    height: 400px;
  }
  /* ABOUT ME*/
  .about-me {
    margin: 46px auto;
    height: 370px;
    width: 600px;
  }

  .about-border {
    border: 4px solid #f7f1eb;
    width: 700px;
    margin: auto;
    margin-bottom: 100px;
  }

  /* INSTA */

  .insta-title {
    margin: 0 70px;
  }
  .align-row {
    width: 600px;
  }
  .followers-bg {
    height: 740px;
  }
}

@media only screen and (max-width: 768px) {
  /* LANDING */
  .landing-img {
    height: 150px;
    margin-top: 70px;
    margin-left: 30px;
  }
  .landing-title {
    font-size: 32px;
    margin: 100px 0 60px 60px;
  }
  .landing-text {
    width: 400px;
    margin-top: 10px;
  }
  .bg-landing {
    height: 150px;
  }
  .landing {
    height: 300px;
  }

  /* ABOUT ME */
  .about-me {
    margin: 46px auto;
    height: 630px;
    width: 350px;
  }

  .about-border {
    border: 4px solid #f7f1eb;
    width: 450px;
    margin: auto;
    margin-bottom: 100px;
  }

  /* INSTAGRAM */
  .insta-text {
    width: 500px;
  }
  .insta-title {
    margin-left: 130px;
    margin-right: 110px;
  }
  .align-row {
    width: 400px;
  }
  .followers-bg {
    height: 1250px;
  }

  /* MAILINGLIST */
  .email {
    width: 400px;
  }
}
@media only screen and (max-width: 576px) {
  .content-container {
    max-width: 90%;
  }
  /* NAVBAR */
  .nav-hr {
    margin: 12.5px 5px;
    border-top: 15px solid;
  }
  .nav-link{
    font-size: 13px;
  }
  .navbar-brand{
    font-size: 18px;
  }
  /* LANDING */
  .landing-img {
    height: 140px;
    margin-top: 75px;
    margin-left: 20px;
  }
  .landing-title {
    font-size: 28px;
    margin: 100px 0 60px 60px;
  }
  .landing-text {
    width: 400px;
    margin-top: 15px;
  }
  .bg-landing {
    height: 150px;
  }
  .landing {
    height: 300px;
  }
  .journaling{
    font-size: 55px;
  }

  /* ABOUT ME */
  .about-me {
    height: 300px;
    width: 90%;
    
  }
  
  
  .about-border {
   
    width: 90%;
    
  }
  
  .about-text {
    margin: 40px;
    font-size: 15px;
  }
  .about-me {
    height: 430px;
  }

  /* INSTAGRAM */
  .insta-title {
    margin: 0 auto;
  }
.insta-text{
  width: 140px;
  
}
.insta-hr{
  width: 50%;
}

  /* MAILINGLIST */
  .email {
    width: 80%;
  }
  .navigation{
    margin-right: 75px;
  }
}
